/** @format */

section {
  width: 600px;
  height: 600px;
  text-align: center;
  border: 15px solid black;
}
img {
  width: 200px;
  height: 200px;
  background-color: lightblue;
  /* Margin property */
  margin: 24px;
  /* Padding property */
  padding: 16px;
  /* Border property */
  border: 8px solid darkblue;
}
